body{
  background:linear-gradient(to bottom, #FADA57, white) ;
  border-bottom: 8px dashed green;
}
body h1{
  font-family: sans-serif;
  font-size: 100px;
  margin: 5px;
  padding : 20px;
  text-align: center;
}
body h2 {
  font-family: sans-serif;
  font-size: 100px;
  margin: 5px;
  padding : 20px;
  text-align: center;
}
body h3 {
  font-family: sans-serif;
  font-size: 40px;
  margin: 5px;
  padding : 20px;
  text-align-last: left;
}
.saludo{
  font-size: 40px
}
.disney{
  color:white;
  font-size: 20px;
  background: rgb(141, 14, 141);
  padding: 10px;
  border: none;
  text-decoration: none;
  position: relative;
}
.animales{
  color:white;
  font-size: 20px;
  background: rgb(53, 143, 26);
  padding: 10px;
  border: none;
  text-decoration: none;
  position:relative;
  left:30px;
}
.desaparecer{display:none}

#after_submit {
  visibility: hidden;}
